.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  color: black;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.header a {
  color: greenyellow;
  text-decoration: none;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 230px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

img {
  width: 50;
  object-fit: contain;
}